out
product_IDs.txt
query_results*
*.aux.xml
MyScripts
Doc
*.bak
SEN3
products-list.csv
dhusget_tmp
logs
__pycache__
OSquery-result.xml
mask.tif
product-list
product-list.csv
misc
out
mosaic
product_list
scihub_login_information.txt
